.winners-container {
    font-family: 'DM Serif Text';
    .current-page,
    .winners-title {
        text-align: center;
    }
    @media (max-width: 800px) {
        .winners-title {
            font-size: 1.6rem;
            margin-bottom: 5px;
        }
        .current-page {
            margin-top: 0;
            font-size: 1.3rem;
        }
        .winners-list {
            font-size: 0.9rem;
            th {
                padding: 5px 25px;
            }
            td {
                position: relative;
                height: 50px;
            }
            .table-th-svg {
                position: absolute;
                top: 5px;
                left: 3px;
                width: 70px;
                height: 40px;
            }
        }
    }
    @media (max-width: 600px) {
        .winners-title {
            font-size: 1.6rem;
            margin-bottom: 5px;
        }
        .current-page {
            margin-top: 0;
            font-size: 1.3rem;
        }
        .winners-list {
            font-size: 0.8rem;
            th {
                padding: 5px 25px;
            }
            td {
                position: relative;
                height: 50px;
            }
            .table-th-svg {
                position: absolute;
                top: 5px;
                left: 3px;
                width: 70px;
                height: 40px;
            }
        }
    }
}
.winners-list {
    margin: 0 auto;
    border-collapse: collapse;
    th {
        background-color: blue;
        border: 2px solid white;
        padding: 20px 50px;
    }
    td {
        border: 2px solid white;
        text-align: center;
    }
}
.table-th-svg {
    width: 100px;
    height: 50px;
}

.pagination-field {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.sort-down::after {
    content: '\2191';
    margin-left: 2px;
}
.sort-up::after {
    content: '\2193';
    margin-left: 2px;
}
