.garage-container {
    font-family: 'DM Serif Text';
    padding: 0 5px;
    @media (max-width: 800px) {
        .garage-title {
            font-size: 1.6rem;
            margin-bottom: 5px;
        }
        .current-page {
            margin-top: 0;
            font-size: 1.3rem;
        }
        .garage-form {
            .button.button-primary {
                width: 55px;
            }
        }
    }
    .car-container {
        display: flex;
        align-items: baseline;
        gap: 5px;
        font-weight: bold;
        height: 80px;
        border-bottom: 2px solid gray;
        border-bottom-style: dashed;
        position: relative;
        @media (max-width: 800px) {
            height: 65px;
        }
        .car-name {
            margin: 0;
            padding: 0;
            @media (max-width: 800px) {
                font-size: 0.8rem;
            }
        }
        .car-image {
            position: absolute;
            width: 100px;
            height: 50px;
            top: 40px;
            left: 60px;
        }
        .finish-image {
            position: absolute;
            right: 100px;
            width: 50px;
            height: 30px;
            bottom: 5px;
        }
        @media (max-width: 800px) {
            .car-image {
                width: 80px;
                height: 40px;
                top: 32px;
            }
            .finish-image {
                height: 20px;
            }
        }
    }

    .garage-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .button-primary {
            width: 70px;
        }
        margin-bottom: 10px;
        .label {
            display: flex;
            gap: 7px;
        }
    }
    .button-field {
        display: flex;
        gap: 5px;
        .button-primary {
            width: max-content;
        }
    }

    .section-garage {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;
    }
    .action-buttons-container {
        display: flex;
        gap: 5px;
    }
}
