@import '/node_modules/normalize-css/normalize.css';

@font-face {
    font-family: 'Trade Winds';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/TradeWinds-Regular.ttf');
}

@font-face {
    font-family: 'DM Serif Text';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/DMSerifText-Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    background-color: #101519;
    color: white;
}
